body {
  font-family: "Inter", sans-serif;
  padding: 0 0.5rem;
}

.profile {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem 0 3rem 0;
}

.profile__details {
  flex: 1 0 300px;
}

.profile__details > h1 {
  margin-top: 0;
  font-size: 3rem;
  line-height: 1;
}

h1 + h2 {
  font-size: 1.1rem;
  margin-top: -1.4rem;
  opacity: 0.9;
  font-weight: 400;
}

.profile__picture {
  border-radius: 50%;
  margin: 0 2rem 1rem 0;
}

main {
  max-width: 40rem;
  margin: auto;
}
